$yellow: #fd841a;
$info: #00adaa;

@font-face {
    font-family: "Exo2-Bold";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("~assets/fonts/static/Exo2-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Exo2-Medium";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~assets/fonts/static/Exo2-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Exo2-semiBold";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("~assets/fonts/static/Exo2-semiBold.ttf") format("truetype");
}

.bg-info,
.btn-info {
    background-color: $info !important;
}
.btn-link {
    color: $info !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Exo2-semiBold";
    color: #23383a;
}
p {
    color: #5c5c5c;
    font-family: "Exo2-Medium";
}

.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
    opacity: 0;
}
